::ng-deep .mat-mdc-checkbox .mdc-checkbox__background {
  border: 1px solid rgba(0, 0, 0, 0.6); // 👈 borde gris
  border-radius: 3px; // opcional
}

.option-button {
  border: solid 1px;
  width: 130px;
  height: 40px;
  border-radius: 5px;
}

.col-small {
  width: 80px;
  /* ajusta según necesidad */
  white-space: nowrap;
  text-align: center;
}

.col-action {
  width: 60px;
  /* más pequeño porque solo lleva un botón */
  text-align: center;
}


.actions-button {
  border: solid 1px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

.btn-save {
  border-color: green;
  color: green;
}

.btn-print {
  border-color: gray;
  color: gray;
}