<mat-card class="cardWithShadow full-width">
    <mat-card-header>
        <mat-card-title class="m-b-0">Generar Conduces</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="container mt-3 m-b-30">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Código actual</mat-label>
                        <input matInput name="codigoActual" [(ngModel)]="codigoActual" required />
                    </mat-form-field>
                </div>
                <!-- SELECT Escuela -->
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Escuela</mat-label>
                        <mat-select name="articuloid" [(ngModel)]="selectSchoolId" required #articuloid="ngModel">
                            <mat-option value="0">Todas</mat-option>
                            <mat-option *ngFor="let loc of escuelas" [value]="loc.id">
                                {{ loc.nombre }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="articuloid.invalid && articuloid.touched">
                            Seleccione una escuela para continuar
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-12 col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Fecha Desde</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Selecciona fecha"
                            [(ngModel)]="selectedDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center gap-2">
                    <!-- Datepicker -->
                    <mat-form-field appearance="outline" class="flex-grow-1">
                        <mat-label>Fecha Hasta</mat-label>
                        <input matInput [matDatepicker]="pickerTo" placeholder="Selecciona fecha"
                            [(ngModel)]="fechaHastaDate" [disabled]="!fechaHasta" [min]="fechaMinimaHasta">
                        <mat-datepicker-toggle matSuffix [for]="pickerTo" [disabled]="!fechaHasta">
                        </mat-datepicker-toggle>
                        <mat-datepicker #pickerTo></mat-datepicker>
                    </mat-form-field>

                    <!-- Checkbox -->
                    <mat-checkbox style="margin-bottom: 9px;" class="ms-2" [(ngModel)]="fechaHasta" name="fechaHasta">
                    </mat-checkbox>
                </div>
            </div>
            <div class="row">
                <!-- Botones a la izquierda -->
                <div class="col-6 d-flex justify-content-start gap-2">
                    <button *ngIf="conduces.length > 0" class="actions-button btn-save" mat-raised-button color="accent"
                        (click)="guardar()">
                        Guardar
                    </button>
                    <button *ngIf="conduces.length > 0" class="actions-button btn-print" mat-raised-button color="warn"
                        (click)="imprimir()">
                        Imprimir
                    </button>
                </div>

                <!-- Botón a la derecha -->
                <div class="col-6 d-flex justify-content-end">
                    <button mat-raised-button color="primary" class="option-button"
                        [disabled]="!selectSchoolId || !selectedDate" (click)="addConduces()">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive" *ngIf="dataSource && dataSource.data.length > 0">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

                <!-- Nombre -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let element"> {{ element.codigo }} </td>
                </ng-container>

                <!-- Dirección -->
                <ng-container matColumnDef="escuela">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Escuela </th>
                    <td mat-cell *matCellDef="let element"> {{ element.escuela }} </td>
                </ng-container>

                <!-- Director -->
                <ng-container matColumnDef="articulo">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Artículo </th>
                    <td mat-cell *matCellDef="let element"> {{ element.articulo }} </td>
                </ng-container>

                <!-- Cantidad -->
                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="col-small"> Cantidad </th>
                    <td mat-cell *matCellDef="let element" class="col-small"> {{ element.cantidad }} </td>
                </ng-container>

                <!-- Precio -->
                <ng-container matColumnDef="precio">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="col-small"> Precio </th>
                    <td mat-cell *matCellDef="let element" class="col-small"> {{ element.precio }} </td>
                </ng-container>

                <!-- Total -->
                <ng-container matColumnDef="total">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="col-small"> Total </th>
                    <td mat-cell *matCellDef="let element" class="col-small"> {{ element.total | number }} </td>
                </ng-container>

                <!-- Itbis -->
                <ng-container matColumnDef="itbis">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="col-small"> Itbis </th>
                    <td mat-cell *matCellDef="let element" class="col-small"> {{ element.itbis | number}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef class="col-small"> Fecha </th>
                    <td mat-cell *matCellDef="let element" class="col-small"> {{ element.fecha }} </td>
                </ng-container>

                <!-- Acción -->
                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef class="col-action text-center"> Acción </th>
                    <td mat-cell *matCellDef="let element" class="col-action text-center">
                        <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="eliminar(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <!-- Header y filas -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <!-- <mat-paginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="[5,10,25,50]">
            </mat-paginator> -->
        </div>
    </mat-card-content>
</mat-card>