<div class="d-grid" style="grid-template-columns: 1fr auto 1fr; align-items: center;">
  <div></div> <!-- Izquierda vacía -->
  <div class="text-center">
    <app-branding></app-branding>
  </div>

  <!-- @if(showToggle) {
    <div class="text-end">
      <a href="javascript:void(0)" (click)="toggleMobileNav.emit()"
        class="d-flex justify-content-center icon-40 align-items-center">
        <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
      </a>
    </div>
  } -->
</div>
