.option-button {
    border: solid 1px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
}



.add-button {
    border: solid 1px;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border-color: green;
    color: green;
}